.container{
    background-color: grey;
}
#jumbotron{
    background-color: maroon;
}
h1{
    font-size: larger;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
p{
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
}.card img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
  }
  
  .card {
    height: 50vh;
    margin-bottom: 20px;
  }
